In [1]:
import pandas as pd
import numpy as np
import os
import openpyxl
import pyodbc

### With every Period Calculator release, the number of hospitals will change as Vizient adds/loses hospitals.  Also, some hospitals may change cohorts over time as they grow or shrink.  In order to track these changes, we have created a table called calc_hospital_cohort to store the hospital cohort assignments at each Period calculator release time.  This needs to be updated at the very least once a fiscal year.

### Before we can run this script, make sure you have already updated the vizient_qa.hospitals table to add all new hospitals and given them an ID.  Also, make sure you have already updated the cohort table to make sure you have all cohorts/cohort_ids you need.

In [2]:
def grab_cohort_worksheet_sheet(path_obj,file_obj,sheetname):
    file_loc = os.path.abspath(os.path.join(path_obj,file_obj))
    wb = openpyxl.load_workbook(file_loc, data_only = True)
    ws = wb[sheetname]
    return(ws)

In [3]:
filepath = r'P:\Datastore02\Analytics\230 Inpatient Quality Composite\data\cohort data\2023\calc_3_cohorts'
filename = 'Period3_QA_2023_Cohorts.xlsx'
sheet = '2023 Period3 Q&A Cohorts'
#provide calculator label.  This can be found in vizient_qa.calculator
calculator_period_label = '2023 Q&A calculator Period 3'

In [4]:
cohort_ws = grab_cohort_worksheet_sheet(filepath, filename,sheet)

C:\Python\envs\py36env\lib\site-packages\openpyxl\reader\drawings.py:59: UserWarning: wmf image format is not supported so the image is being dropped
  warn(msg)

In [5]:
df = pd.DataFrame(cohort_ws.values)

In [6]:
#rename column headers using the 'Domain' header row coordinates
df = df.rename(columns=df.iloc[0])

In [7]:
df = df.drop([0])

In [8]:
df = df[['Medicare ID','Short name', 'Cohort']]

### Same thing for Critical Access Hospitals Worksheet  (when this script was written, the critical access cohort hospitals were listed on a separate sheet.  This may change later.

In [10]:
ca_sheet = 'Crit Acc. & Small Comm'
ca_cohort_ws = grab_cohort_worksheet_sheet(filepath, filename,ca_sheet)

C:\Python\envs\py36env\lib\site-packages\openpyxl\reader\drawings.py:59: UserWarning: wmf image format is not supported so the image is being dropped
  warn(msg)

In [11]:
ca_df = pd.DataFrame(ca_cohort_ws.values)

In [12]:
#rename column headers using the 'Domain' header row coordinates
ca_df = ca_df.rename(columns=ca_df.iloc[1])

In [13]:
ca_df = ca_df.drop([0,1])

In [14]:
ca_df = ca_df[['Medicareid','Name']]

In [15]:
#rename columns to make sure they match the main sheet column headers
ca_df = ca_df.rename(columns={"Medicareid": "Medicare ID", "Name": "Short name"})

In [16]:
ca_df['Cohort'] = 'Critical Access & Small Community'

### Union the dataframes together

In [17]:
df_list = [df,ca_df]
df_concat = pd.concat(df_list)

In [18]:
df_concat = df_concat.drop_duplicates()

In [19]:
df_concat

,Medicare ID,Short name,Cohort
1,010033,ALABAMA,Comprehensive Academic Medical Center
2,030002,BANNERHEALTH_PHOENIX,Comprehensive Academic Medical Center
3,030064,BANNERHEALTH_ARIZONA,Comprehensive Academic Medical Center
4,040016,ARKANSAS,Comprehensive Academic Medical Center
5,050025,UCSD,Comprehensive Academic Medical Center
...,...,...,...
162,521344,Boscobel Area Health Care,Critical Access & Small Community
163,521346,ThedaCare Medical Center Shawano,Critical Access & Small Community
164,521349,Allina River Falls Hospital,Critical Access & Small Community
165,521350,Aspirus Langlade Hospital,Critical Access & Small Community
166,521355,ThedaCare Medical Center - Berlin,Critical Access & Small Community

### Query db.  Get all cohorts in db

In [20]:
#function to query db and get cohort ids and cohort names.
def get_all_cohorts():
    # define the query
    all_cohorts = '''
        SELECT
        *
        FROM
        NM_Analytics_Prototype.vizient_qa.cohort
        '''
    # create the connection to the ms sql db
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=edw00pd05wva.corp.nm.org\EDWIDS1;'
                          'Database=clarity;'
                          'Trusted_Connection=yes;')

    # read query results into pandas dataframe
    cohort_df = pd.DataFrame(pd.read_sql(all_cohorts, conn))
    # close the db connection
    conn.close()
    # return the results dataframe of measure ids and names
    return (cohort_df)

### Query db.  Get all hospitals in db.

In [21]:
#function to query db and get hospital ids and hospital names.
def get_all_hospitals():
    # define the query
    all_hospitals = '''
        SELECT
        *
        FROM
        NM_Analytics_Prototype.vizient_qa.hospitals
        '''
    # create the connection to the ms sql db
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=edw00pd05wva.corp.nm.org\EDWIDS1;'
                          'Database=clarity;'
                          'Trusted_Connection=yes;')

    # read query results into pandas dataframe
    hospital_df = pd.DataFrame(pd.read_sql(all_hospitals, conn))
    # close the db connection
    conn.close()
    # return the results dataframe of measure ids and names
    return (hospital_df)

### Query db.  Get current Calculator ID

In [22]:
def get_calc_id():
    # define the query
    calc_id = '''
        SELECT
        calc_id
        FROM
        NM_Analytics_Prototype.vizient_qa.calculator
        WHERE
        calc_nm in ('%s')
        ''' % calculator_period_label
    # create the connection to the ms sql db
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=edw00pd05wva.corp.nm.org\EDWIDS1;'
                          'Database=clarity;'
                          'Trusted_Connection=yes;')

    # read query results into pandas dataframe
    calc_df = pd.DataFrame(pd.read_sql(calc_id, conn))
    # close the db connection
    conn.close()
    # return the results dataframe of measure ids and names
    return (calc_df.iloc[0][0])

In [23]:
calculator_period_label

'2023 Q&A calculator Period 3'

In [24]:
get_calc_id()

19

In [25]:
cohort_df = get_all_cohorts()

In [26]:
hospital_df = get_all_hospitals()

In [27]:
calc_id = get_calc_id()

### Clean up the dataset

### Conditionally update the cohort names because they are different than what is stored in the database.  Clean up the hospital names

In [28]:
#validate cohort names.  Vizient keeps changing cohort name formatting slightly so I will force the cohorts to match
#what is already in the database
df_concat['Cohort'].unique()

array(['Comprehensive Academic Medical Center',
       'Large, Specialized Medical Center', 'Complex Care Medical Center',
       'Community Medical Center', 'Critical Access & Small Community'],
      dtype=object)

In [29]:
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Comprehensive Academic Medical Center', 'Comprehensive Academic Medical Center', df_concat['Cohort'])

In [30]:
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Large, Specialized Complex Care Medical Center', 'Large Specialized Complex Care Medical Center', df_concat['Cohort'])

In [31]:
#period 4 2021 they messed up the lsccmc name...
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Large, Specialized Medical Center', 'Large Specialized Complex Care Medical Center', df_concat['Cohort'])

In [32]:
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Complex Care Medical Center', 'Complex Care Medical Center', df_concat['Cohort'])

In [33]:
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Community Medical Center', 'Community', df_concat['Cohort'])

In [34]:
df_concat['Cohort'] = np.where(df_concat['Cohort']=='Critical Access & Small Community', 'Critical Access & Small Community', df_concat['Cohort'])

In [35]:
df_concat['Cohort'].unique()

array(['Comprehensive Academic Medical Center',
       'Large Specialized Complex Care Medical Center',
       'Complex Care Medical Center', 'Community',
       'Critical Access & Small Community'], dtype=object)

In [36]:
#clean up hospital names
df_concat['Short name'] = df_concat['Short name'].str.upper().str.replace(' ','_').str.replace('-','_').str.replace("'","")
hospital_df['hospital_name'] = hospital_df['hospital_name'].str.upper().str.replace(' ','_').str.replace('-','_').str.replace("'","")

### Left join to the database cohorts

In [37]:
#left join dataframe to datbase lookup table
df_concat_with_cohort_id = pd.merge(df_concat, cohort_df, left_on='Cohort',right_on="cohort_name",how="left")

In [38]:
#check if there are any unjoined rows
df_concat_with_cohort_id[df_concat_with_cohort_id['cohort_name'].isna()]

Empty DataFrame
Columns: [Medicare ID, Short name, Cohort, cohort_id, cohort_name]
Index: []

### TUHS_JEANES has a new medicare ID but I cannot find it on cms.gov.  I will manually change TUHS medicare ID back to 390080 until I confirm 399927 is correct.

### Update.  399927 is a fake medicare ID created by Vizient because TUHS JEANES has been integrated into a larger hospital system.  They wanted two separate data feeds so Vizient created an internal medicare number for them.

In [86]:
#no longer needed.
#df_concat_with_cohort_id[df_concat_with_cohort_id['Medicare ID'] == '399927'].index[0]

In [87]:
#manually override TUHS_JEANES Medicare ID
#no longer needed
#df_concat_with_cohort_id.at[df_concat_with_cohort_id[df_concat_with_cohort_id['Medicare ID'] == '399927'].index[0],'Medicare ID'] = '390080'

### Left join to the database hospitals

In [39]:
#left join dataframe to database hospital table
df_final = pd.merge(df_concat_with_cohort_id, hospital_df, left_on=['Medicare ID'],right_on=['hospital_medicare_id'],how="left")

In [40]:
df_final[df_final['hospital_name'].isna()]

Empty DataFrame
Columns: [Medicare ID, Short name, Cohort, cohort_id, cohort_name, hospital_id, hospital_name, hospital_medicare_id, hospital_cohort_id]
Index: []

### Convert to same format as calc_hospital_cohort table

In [41]:
#fill in calc_id column using the calculator period label variable and query results from above
df_final['calc_id'] = calc_id

In [42]:
df_final = df_final[['calc_id','hospital_id','cohort_id']]

In [43]:
#add row for TOP Decile hospital placeholder
df_final.loc[-1] = [calc_id,0,0]  #adding a row
df_final.index = df_final.index + 1  # shifting index
df_final = df_final.sort_index()  # sorting by index

In [44]:
df_final['calc_id'] = df_final['calc_id'].astype(int)
df_final['hospital_id'] = df_final['hospital_id'].astype(int)
df_final['cohort_id'] = df_final['cohort_id'].astype(int)

In [45]:
#check output
df_final.head()

   calc_id  hospital_id  cohort_id
0       19            0          0
1       19            1          1
2       19           89          1
3       19            2          1
4       19            3          1

### Re-Cohort Kish and Huntley.  In 2021, 2022, Vizient has Kish and Huntley placed in the Community Cohort.  NM Quality Leadership would like to 're-cohort' those hospitals into CCMC cohort in order to track more measures.  Adding this line to re-assign the cohort back to CCMC.  This line may not always be necessary.  Depends on the current needs of these hospitals.

In [50]:
#df_final[df_final['hospital_id']== 222]
df_final[df_final['hospital_id']== 471]

     calc_id  hospital_id  cohort_id
534       19          471          3

In [49]:
df_final.loc[df_final["hospital_id"] == 222, "cohort_id"] = 3
df_final.loc[df_final["hospital_id"] == 471, "cohort_id"] = 3

In [51]:
#check number rows match the cohort file
df_final.shape

(956, 3)

### BELOW HERE:  INSERT data into database table calc_hospital_cohort

In [52]:
# create the connection to the ms sql db

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=edw00pd05wva.corp.nm.org\EDWIDS1;'
                      'Database=clarity;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
for i, item in enumerate(df_final.iterrows()):
    print(item[1]['calc_id'],item[1]['hospital_id'],item[1]['cohort_id'])
    cursor.execute("insert into NM_Analytics_Prototype.vizient_qa.calc_hospital_cohort values (?,?,?)",str(item[1]['calc_id']),str(item[1]['hospital_id']),str(item[1]['cohort_id']))
    #cursor.execute(query)
    conn.commit()

# close the db connection
conn.close()

19 0 0
19 1 1
19 89 1
19 2 1
19 3 1
19 4 1
19 808 1
19 778 1
19 824 1
19 5 1
19 86 1
19 6 1
19 7 1
19 8 1
19 9 1
19 10 1
19 11 1
19 12 1
19 13 1
19 82 1
19 14 1
19 79 1
19 90 1
19 779 1
19 825 1
19 15 1
19 16 1
19 17 1
19 18 1
19 936 1
19 19 1
19 20 1
19 21 1
19 22 1
19 23 1
19 24 1
19 25 1
19 26 1
19 476 1
19 27 1
19 92 1
19 28 1
19 29 1
19 30 1
19 31 1
19 77 1
19 32 1
19 33 1
19 34 1
19 80 1
19 362 1
19 35 1
19 36 1
19 83 1
19 37 1
19 826 1
19 38 1
19 39 1
19 40 1
19 363 1
19 81 1
19 41 1
19 84 1
19 364 1
19 42 1
19 361 1
19 157 1
19 43 1
19 780 1
19 44 1
19 45 1
19 78 1
19 47 1
19 48 1
19 49 1
19 50 1
19 781 1
19 51 1
19 695 1
19 52 1
19 53 1
19 87 1
19 54 1
19 55 1
19 56 1
19 57 1
19 782 1
19 58 1
19 827 1
19 59 1
19 828 1
19 60 1
19 61 1
19 829 1
19 783 1
19 62 1
19 63 1
19 64 1
19 65 1
19 85 1
19 66 1
19 696 1
19 365 1
19 67 1
19 68 1
19 69 1
19 93 1
19 70 1
19 71 1
19 91 1
19 72 1
19 73 1
19 477 1
19 74 1
19 160 1
19 75 1
19 76 1
19 94 2
19 150 2
19 95 2
19 360 2
19 809 2
19 746 2
19 478 2
19 97 2
19 173 2
19 810 2
19 473 2
19 697 2
19 98 2
19 99 2
19 454 2
19 830 2
19 831 2
19 811 2
19 832 2
19 937 2
19 100 2
19 655 2
19 101 2
19 938 2
19 102 2
19 104 2
19 479 2
19 105 2
19 833 2
19 834 2
19 835 2
19 480 2
19 698 2
19 106 2
19 836 2
19 107 2
19 481 2
19 482 2
19 108 2
19 109 2
19 110 2
19 484 2
19 485 2
19 694 2
19 486 2
19 111 2
19 837 2
19 112 2
19 699 2
19 179 2
19 624 2
19 113 2
19 180 2
19 114 2
19 487 2
19 115 2
19 838 2
19 116 2
19 762 2
19 117 2
19 939 2
19 169 2
19 170 2
19 119 2
19 625 2
19 120 2
19 122 2
19 149 2
19 123 2
19 626 2
19 124 2
19 839 2
19 368 2
19 840 2
19 748 2
19 744 2
19 369 2
19 488 2
19 370 2
19 125 2
19 126 2
19 940 2
19 489 2
19 841 2
19 156 2
19 162 2
19 127 2
19 371 2
19 372 2
19 455 2
19 490 2
19 128 2
19 129 2
19 627 2
19 130 2
19 131 2
19 166 2
19 167 2
19 133 2
19 700 2
19 134 2
19 152 2
19 163 2
19 168 2
19 135 2
19 656 2
19 373 2
19 812 2
19 136 2
19 248 2
19 137 2
19 914 2
19 374 2
19 842 2
19 491 2
19 657 2
19 138 2
19 492 2
19 493 2
19 494 2
19 139 2
19 495 2
19 941 2
19 843 2
19 158 2
19 519 2
19 161 2
19 658 2
19 140 2
19 942 2
19 943 2
19 844 2
19 788 2
19 845 2
19 375 2
19 784 2
19 659 2
19 915 2
19 944 2
19 144 2
19 153 2
19 154 2
19 155 2
19 159 2
19 701 2
19 164 2
19 146 2
19 147 2
19 148 2
19 205 2
19 376 2
19 660 2
19 763 3
19 790 3
19 785 3
19 813 3
19 628 3
19 661 3
19 767 3
19 358 3
19 244 3
19 496 3
19 745 3
19 846 3
19 814 3
19 847 3
19 171 3
19 377 3
19 815 3
19 629 3
19 497 3
19 848 3
19 245 3
19 498 3
19 499 3
19 500 3
19 849 3
19 630 3
19 501 3
19 662 3
19 215 3
19 945 3
19 946 3
19 217 3
19 502 3
19 174 3
19 250 3
19 916 3
19 850 3
19 851 3
19 503 3
19 852 3
19 380 3
19 631 3
19 241 3
19 853 3
19 242 3
19 917 3
19 854 3
19 632 3
19 918 3
19 855 3
19 504 3
19 505 3
19 483 3
19 218 3
19 663 3
19 702 3
19 176 3
19 764 3
19 213 3
19 472 3
19 747 3
19 219 3
19 246 3
19 856 3
19 221 3
19 177 3
19 178 3
19 214 3
19 181 3
19 507 3
19 224 3
19 786 3
19 787 3
19 947 3
19 857 3
19 633 3
19 948 3
19 508 3
19 765 3
19 766 3
19 509 3
19 510 3
19 182 3
19 183 3
19 949 3
19 950 3
19 511 3
19 184 3
19 118 3
19 858 3
19 951 3
19 185 3
19 186 3
19 188 3
19 121 3
19 228 3
19 398 3
19 859 3
19 703 3
19 704 3
19 189 3
19 382 3
19 705 3
19 383 3
19 952 3
19 191 3
19 229 3
19 664 3
19 512 3
19 165 3
19 475 3
19 953 3
19 560 3
19 513 3
19 514 3
19 954 3
19 634 3
19 231 3
19 860 3
19 232 3
19 132 3
19 243 3
19 861 3
19 192 3
19 359 3
19 193 3
19 862 3
19 635 3
19 749 3
19 249 3
19 194 3
19 302 3
19 706 3
19 151 3
19 515 3
19 235 3
19 955 3
19 956 3
19 516 3
19 517 3
19 196 3
19 197 3
19 518 3
19 311 3
19 198 3
19 199 3
19 957 3
19 863 3
19 195 3
19 864 3
19 200 3
19 636 3
19 520 3
19 521 3
19 865 3
19 201 3
19 522 3
19 142 3
19 523 3
19 238 3
19 524 3
19 143 3
19 202 3
19 239 3
19 707 3
19 324 3
19 919 3
19 203 3
19 209 3
19 920 3
19 145 3
19 525 3
19 526 3
19 527 3
19 528 3
19 637 3
19 958 3
19 959 3
19 960 3
19 212 3
19 708 3
19 529 3
19 207 3
19 530 3
19 208 3
19 211 3
19 789 4
19 791 4
19 792 4
19 793 4
19 794 4
19 795 4
19 816 4
19 866 4
19 531 4
19 251 4
19 665 4
19 709 4
19 867 4
19 666 4
19 252 4
19 817 4
19 868 4
19 869 4
19 921 4
19 638 4
19 339 4
19 532 4
19 818 4
19 796 4
19 870 4
19 871 4
19 872 4
19 873 4
19 922 4
19 874 4
19 875 4
19 533 4
19 876 4
19 877 4
19 534 4
19 710 4
19 711 4
19 878 4
19 667 4
19 378 4
19 797 4
19 879 4
19 880 4
19 881 4
19 639 4
19 712 4
19 535 4
19 536 4
19 961 4
19 254 4
19 461 4
19 462 4
19 537 4
19 216 4
19 882 4
19 713 4
19 640 4
19 641 4
19 883 4
19 338 4
19 539 4
19 642 4
19 540 4
19 541 4
19 542 4
19 543 4
19 643 4
19 544 4
19 714 4
19 715 4
19 257 4
19 175 4
19 386 4
19 387 4
19 506 4
19 716 4
19 258 4
19 222 3
19 259 4
19 471 3
19 668 4
19 669 4
19 670 4
19 671 4
19 260 4
19 261 4
19 672 4
19 884 4
19 819 4
19 463 4
19 262 4
19 750 4
19 547 4
19 885 4
19 263 4
19 886 4
19 549 4
19 550 4
19 551 4
19 552 4
19 768 4
19 264 4
19 265 4
19 266 4
19 962 4
19 963 4
19 554 4
19 267 4
19 247 4
19 964 4
19 268 4
19 269 4
19 270 4
19 271 4
19 965 4
19 272 4
19 751 4
19 225 4
19 273 4
19 752 4
19 966 4
19 274 4
19 717 4
19 275 4
19 276 4
19 277 4
19 555 4
19 187 4
19 226 4
19 388 4
19 753 4
19 389 4
19 674 4
19 391 4
19 392 4
19 227 4
19 556 4
19 279 4
19 280 4
19 644 4
19 888 4
19 393 4
19 282 4
19 394 4
19 557 4
19 395 4
19 889 4
19 890 4
19 645 4
19 891 4
19 646 4
19 283 4
19 284 4
19 647 4
19 892 4
19 396 4
19 285 4
19 397 4
19 399 4
19 893 4
19 718 4
19 648 4
19 558 4
19 381 4
19 286 4
19 559 4
19 287 4
19 288 4
19 289 4
19 290 4
19 719 4
19 401 4
19 291 4
19 967 4
19 720 4
19 894 4
19 292 4
19 675 4
19 968 4
19 293 4
19 464 4
19 230 4
19 969 4
19 294 4
19 465 4
19 561 4
19 970 4
19 402 4
19 403 4
19 295 4
19 466 4
19 562 4
19 296 4
19 563 4
19 798 4
19 404 4
19 923 4
19 754 4
19 924 4
19 234 4
19 564 4
19 649 4
19 565 4
19 799 4
19 406 4
19 341 4
19 354 4
19 342 4
19 298 4
19 676 4
19 343 4
19 299 4
19 895 4
19 344 4
19 336 4
19 300 4
19 721 4
19 722 4
19 723 4
19 407 4
19 755 4
19 345 4
19 346 4
19 347 4
19 408 4
19 566 4
19 337 4
19 303 4
19 304 4
19 305 4
19 725 4
19 677 4
19 756 4
19 306 4
19 307 4
19 355 4
19 757 4
19 726 4
19 348 4
19 349 4
19 308 4
19 800 4
19 925 4
19 409 4
19 801 4
19 357 4
19 896 4
19 567 4
19 568 4
19 468 4
19 971 4
19 972 4
19 897 4
19 678 4
19 973 4
19 679 4
19 570 4
19 974 4
19 309 4
19 310 4
19 312 4
19 236 4
19 572 4
19 680 4
19 975 4
19 573 4
19 574 4
19 313 4
19 681 4
19 237 4
19 314 4
19 315 4
19 316 4
19 317 4
19 575 4
19 318 4
19 319 4
19 898 4
19 576 4
19 682 4
19 758 4
19 320 4
19 769 4
19 771 4
19 577 4
19 727 4
19 976 4
19 683 4
19 684 4
19 977 4
19 728 4
19 926 4
19 927 4
19 802 4
19 650 4
19 578 4
19 685 4
19 322 4
19 978 4
19 323 4
19 979 4
19 980 4
19 981 4
19 325 4
19 326 4
19 327 4
19 328 4
19 329 4
19 579 4
19 410 4
19 580 4
19 581 4
19 333 4
19 651 4
19 350 4
19 351 4
19 352 4
19 582 4
19 583 4
19 729 4
19 353 4
19 982 4
19 983 4
19 899 4
19 240 4
19 900 4
19 928 4
19 584 4
19 652 4
19 411 4
19 334 4
19 335 4
19 929 4
19 206 4
19 930 4
19 412 4
19 585 5
19 772 5
19 901 5
19 469 5
19 253 5
19 255 5
19 256 5
19 413 5
19 586 5
19 587 5
19 730 5
19 731 5
19 732 5
19 733 5
19 414 5
19 588 5
19 759 5
19 589 5
19 356 5
19 415 5
19 416 5
19 653 5
19 417 5
19 418 5
19 419 5
19 420 5
19 654 5
19 421 5
19 734 5
19 686 5
19 803 5
19 902 5
19 590 5
19 591 5
19 903 5
19 904 5
19 905 5
19 592 5
19 984 5
19 422 5
19 423 5
19 594 5
19 595 5
19 596 5
19 597 5
19 598 5
19 599 5
19 600 5
19 601 5
19 426 5
19 593 5
19 281 5
19 687 5
19 688 5
19 427 5
19 428 5
19 602 5
19 760 5
19 603 5
19 689 5
19 604 5
19 605 5
19 429 5
19 761 5
19 606 5
19 690 5
19 691 5
19 607 5
19 430 5
19 431 5
19 906 5
19 432 5
19 774 5
19 804 5
19 805 5
19 806 5
19 807 5
19 907 5
19 908 5
19 608 5
19 609 5
19 433 5
19 985 5
19 610 5
19 611 5
19 735 5
19 931 5
19 986 5
19 987 5
19 434 5
19 301 5
19 736 5
19 737 5
19 435 5
19 738 5
19 739 5
19 612 5
19 988 5
19 436 5
19 613 5
19 989 5
19 437 5
19 820 5
19 821 5
19 990 5
19 822 5
19 823 5
19 932 5
19 933 5
19 909 5
19 692 5
19 934 5
19 614 5
19 321 5
19 775 5
19 770 5
19 776 5
19 615 5
19 991 5
19 910 5
19 911 5
19 935 5
19 438 5
19 439 5
19 440 5
19 330 5
19 331 5
19 332 5
19 777 5
19 441 5
19 442 5
19 443 5
19 444 5
19 445 5
19 912 5
19 446 5

19 447 5
19 448 5
19 992 5
19 993 5
19 994 5
19 995 5
19 996 5
19 997 5
19 998 5
19 616 5
19 449 5
19 740 5
19 617 5
19 741 5
19 618 5
19 619 5
19 742 5
19 620 5
19 470 5
19 450 5
19 621 5
19 693 5
19 451 5
19 622 5
19 743 5
19 452 5
19 913 5
19 623 5
19 453 5